@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  line-height: 1.4;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

*{
    padding:0;
    margin:0;
}

#navbar{
   
   display: flex; 
   justify-content:space-between ;
   align-items: center;
   height: 90px;
  
   

   
}
nav {
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
  position: sticky;
  top: 0;
  margin-bottom: 32px;
  background: white;
  padding: 10px;
  z-index: 50;
}

nav .logo{
    margin-left: 200px;
}

nav div .lines{
    height: 20px;
    margin-right: 200px;

}

 
  .container {
  max-width: 1200px;
  margin: 0 auto;
}

.hero{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.hero_image{
    padding: 50px;
    margin-left: 80px;
}

.hero_cont{
   display: flex;
   flex-direction: column;
    align-items: baseline;
   
   gap: 20px;
   
}
.discount{
    background-color: rgb(77, 183, 77);
    color: white;
    font-size: medium;
    height: 30px;
   padding: 5px;
}
.hero_cont h1{
    align-self: flex-start;
     font-size: 72px;
  line-height: 1.2;
  font-weight: 400;
    
}
 button{
       background: #ffc066;
      align-self: flex-start;

    height: 40px;
    width: 100px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}
 button:hover{
    opacity: 0.8;
    transition: .2s ease-in-out;
}
.properties{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
}
.feature{
    display: flex;
    gap: 10px;
    transition: .2s ease-in-out;
}
.feature:hover{
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    transition: .2s ease-in-out;
}

.divider{
    border: 1px solid black;
    margin-top:50px ;
}

.menu{
    display: flex;
    flex-direction: column;
   
    gap: 50px;
    align-items: center;
     margin: 50px 0;
}

.menutext{
    height: 30px;
    width: 80px;
    background-color: rgb(77, 183, 77);
    margin-top: 50px;
    padding: 5px;
    color: white;
}
.grid{
    display: grid;
     gap: 10px;
    grid-template-areas: 
     "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7";

}


.img1 {
  grid-area: I1;
}
.img2 {
  grid-area: I2;
}
.img3 {
  grid-area: I3;
}
.img4 {
  grid-area: I4;
}
.img5 {
  grid-area: I5;
}
.img6 {
  grid-area: I6;
}
.img7 {
  grid-area: I7;
}

.grid_image6{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    transition: 0.2s ease-in-out;
}
.grid_image6:hover{
    transform: scale(1.05);
    transition: .2s ease-in-out;
}
footer{
     background-color: #fff0db;
}
.footcontainer{
    padding:30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 250px;

}

.social_tag {
    display: flex;
     gap: 3px;
}

.social_tag img{
    height: 30px;
    width: 30px;
}
ul li{
    list-style: none;
}
.footer_logo{
   padding-bottom: 50px;
}

#email{
    
   padding:10px;
   border-radius: 5px;
}
.footer_text ,li,h2{
   padding: 5px;
}

